<!-- [ngStyle]="{background: 'url('../../../assets/Website-Design-Background.png')'}"> -->
<mat-card class="card">
    <b class="forgotPass">Forgot Password </b>
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-form-field class="mat-form-field-infix" appearance="outline">
            <mat-label>email</mat-label>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            <input matInput placeholder="email" [formControl]="email">
        </mat-form-field>

        <button class="SubmitButton" mat-raised-button color="primary" (click)="submit()">Submit</button>

        <div>
            <div>
                <a routerLink="/login">Login</a><a class="registerLink" routerLink="/register">Register</a>
            </div>
        </div>
    </div>
</mat-card>