.main{
    border: 1px solid;
    padding: 1%;
    background-color: rgb(115,201,81);
    //margin-bottom: 28%;
}

.image{
    margin-left: -9%;
}

.search{
    position: relative;
    margin-right: 26%;
}

.button{
    margin-right: -19%;
}

.login{
    margin-right: -156%;
}

.footers{
    border: 1px solid;
    padding: 3%;
    background-color: rgb(115,201,81);
   }