<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="image"> <a (click)="home()" class="pointer"><img src="../../../assets/book-it.jpg"
                style="width: 75%"></a>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between start" fxFill="10" fxLayoutGap="50px">
    <mat-card class="poster">
        <img src="../../../assets/{{message.result[4].poster}}">
    </mat-card>

    <div class="Details">
        <h3>Movie Name : {{message.result[0].movieName}}</h3>
        <h3>Movie Rating : {{message.result[0].rating}} </h3>
        <h3>Date on Release : {{message.result[0].releaseDate}} </h3>
        <h3>Director Name : {{message.result[0].directorName}}</h3>
        <h3>Cast : {{message.result[3].castName}}</h3>
    </div>
    <!-- <button (click)="submit($event)">type</button> -->
</div>

<div class="about" fxLayout="row" fxLayoutGap="5px"> 
    <h3>About</h3>
    <h3>:</h3>
    <h3>{{message.result[0].details}} </h3>
</div>