<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="image"><img src="../../../assets/book-it.jpg" style="width: 75%">
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between start" fxFill="10">
    <mat-card class="poster">
        <img src="../../../assets/ant-man(Poster).jpg">
    </mat-card>

    <div class="Details">
        <h3>Movie Name :{{moviesList}}</h3>
        <h3>Movie Rating : </h3>
        <h3>Date on Release : </h3>
        <h3>Director Name :</h3>
        <h3>Cast :</h3>
        <h3>About : </h3>
    </div>
    <!-- <button (click)="submit()">type</button> -->
</div>
