<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="image"> <a (click)="home()" class="pointer"><img src="../../../assets/book-it.jpg"
                    style="width: 75%"></a>
        </div>
    
        <div class="search" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <input matInput placeholder="Do Online Booking For Any Movie..." [formControl]="movieName" style=" width: 229%; padding: 4%;">
            </div>
            <div class="button">
                <button mat-raised-button (click)="Search()" color="primary">Search</button>
            </div>
            <div class="login">
                <button mat-mini-fab style="background-color: darkolivegreen" [matMenuTriggerFor]="menu">
                    {{firstName | slice:0:1}}</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="profile()">{{firstName}}</button>
                    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" fxFill="10" fxLayoutGap="50px">
        <mat-card class="poster">
            <img src="../../../assets/{{message.result[0].poster}}">
        </mat-card>

        <div class="Details">
            <h3>Movie Name : {{message.result[0].movieName}}</h3>
            <h3>Movie Rating : {{message.result[0].rating}} </h3>
            <h3>Date on Release : {{message.result[0].releaseDate}} </h3>
            <h3>Director Name : {{message.result[0].directorName}}</h3>
            <h3>Cast : {{message.result[0].castName}}</h3>
            <div fxLayout="row" fxLayoutGap="30px">
                <button class="SubmitButton" mat-raised-button color="primary" (click)="openDialog()">Trailer</button>
                <button class="SubmitButton" mat-raised-button color="primary" (click)="Ticket()">Book Ticket</button>
            </div>
        </div>

        <!-- <button (click)="submit($event)">type</button> -->
</div>

<div class="about" fxLayout="row" fxLayoutGap="5px">
    <h3>About</h3>
    <h3>:</h3>
    <h3>{{message.result[0].details}} </h3>
</div>

<div class="footers">
    <div fxLayout="row" fxLayout="row" fxLayoutGap="29%" style="margin-top:-4%; margin-bottom:-4%;">
        <div>
            <h2>About</h2>
            <p>BookIt,BandraWest,Mumbai</p>
            <p style="margin-top: -9%;">Maharashtra, 400050</p>
        </div>
        <div>
            <h2>Contacts</h2>
            <p>inquiry@bookIt.com</p>
        </div>
        <div>
            <h2>Links</h2>
            <share-buttons show="3" style=" margin-left: -45%; margin-bottom: 6%; "></share-buttons>
        </div>

    </div>
</div>