<div class="main" fxLayout="row" fxLayoutAlign="space-around center">

        <div class="image"><img src="../../../assets/IMG-20181122-WA0006.jpg" style="width: 75%">
        </div>
        <div class="search" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <input placeholder="Do Online Booking For Any Movie..." style=" width: 229%; padding: 5%;">
            </div>
            <div class="button">
                <button mat-raised-button color="primary">Search</button>
            </div>
            <div class="login">
            <a class="loginButton" routerLink="/login">Login</a>/<a class="loginButton" routerLink="/register">Register</a>
            </div>
                
            </div>
        </div>