<!-- <iframe width="250" height="150" src="https://www.youtube.com/embed/watch?v=26OfFzzvlQA" allowfullscreen>

    </iframe> -->
<!-- <object width="420" height="315" data="https://www.youtube.com/watch?v=Y01BIFh8Ha0">
</object> -->

<!-- <iframe width="727" height="409" src="https://www.youtube.com/embed/sr5h9ikmeqQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- <div class="embed-responsive embed-responsive-21by9"> -->
    <iframe width="906" height="380" [src]="urlSafe" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- </div> -->