.main{
    border: 1px solid;
    padding: 1%;
    background-color: rgb(115,201,81);
    //margin-bottom: 28%;

}

.image{
    margin-left: -79%;
}

.divForLinks{
    border: 1px solid;
    margin-top: 1%;
    width: 16%;
    margin-bottom: 1%;
}

.footers{
    border: 1px solid;
    padding: 3%;
    background-color: rgb(115,201,81);
   }

.profileNames{
    margin-right: -156%;
    width: 10%;
    padding: 3%;
    margin-top: 1%;
    background-color: paleturquoise;
}

.forValue{
    margin-top: -5%;
    margin-right: 37%;
    width: 37%;
}

.pointer {
    cursor: pointer;
}