<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="image"> <a (click)="home()" class="pointer"><img src="../../../assets/book-it.jpg"
                style="width: 75%"></a>
    </div>
</div>

<mat-card class="profileNames">
    <h2>{{firstName}}</h2>
</mat-card>


<div fxLayout="row" fxLayoutAlign="space-between start">
    <mat-card class="divForLinks" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
        <button mat-flat-button="" (click)="home()">Home</button>
        <button mat-flat-button="" (click)="categorie()">Categories</button>
        <button mat-flat-button="" (click)="booking()">Booking</button>
        <button mat-flat-button="" (click)="newRelease()">New Release</button>
        <button mat-flat-button="" (click)="newRelease()">Trending</button>
    </mat-card>

    <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

    <div class="forValue">
        <h3> First Name : {{firstName}}</h3>
        <h3> Last Name : {{lastName}}</h3>
        <h3> Email : {{emailAddress}}</h3>
        <h3> Mobile No. : {{phone}}</h3>
        <h3> Gender : {{gender}}</h3>
        <h3> Date of Birth : {{dateofbirth}}</h3>

    </div>

    <!-- <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> firstName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> lastName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{emailAddress}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> phone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{phone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef> gender </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{gender}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateofbirth">
            <mat-header-cell *matHeaderCellDef> Date of Birth </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{dateofbirth}} </mat-cell>
        </ng-container> -->

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->

</div>

<div class="footers">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10%" style="margin-top:-6%">
        <h2>About</h2>
        <h2>Contacts</h2>
        <h2>Links</h2>

        <!--Facebook-->
        <a type="button" mdbBtn floating="true" size="lg" color="fb" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>

        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="lg" color="gplus" class=" waves-light" mdbWavesEffect>
            <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>

        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="lg" color="li" class=" waves-light" mdbWavesEffect>
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>

        <!--Instagram-->
        <a type="button" mdbBtn floating="true" size="lg" color="ins" class="  waves-light" mdbWavesEffect>
            <mdb-icon fab icon="instagram"></mdb-icon>
        </a>

    </div>
</div>