.main{
    border: 1px solid;
    padding: 1%;
    background-color: rgb(115,201,81);
    margin-bottom: 28%;

}

.image{
    margin-left: -79%;
}

.footers{
    border: 1px solid;
    padding: 5%;
    background-color: rgb(115,201,81);
}