<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="image"><img src="../../../assets/IMG-20181122-WA0006.jpg" style="width: 75%">
    </div>

    <div class="search" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <input placeholder="Do Online Booking For Any Movie..." style=" width: 229%; padding: 5%;">
        </div>
        <div class="button">
            <button mat-raised-button color="primary">Search</button>
        </div>
        <div class="login">
            <button mat-mini-fab style="background-color: darkolivegreen" [matMenuTriggerFor]="menu">
                {{firstName | slice:0:1}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="profile()">{{firstName}}</button>
                <button mat-raised-button color="primary" (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</div>

<mat-card fxLayout="row" fxLayoutAlign="start start">
    <mat-card class="divForLinks" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
        <button mat-flat-button="" (click)="home()">Home</button>
        <button mat-flat-button="" (click)="profile()">Profile</button>
        <button mat-flat-button="" (click)="booking()">Booking</button>
        <button mat-flat-button="" (click)="newRelease()">New Release</button>
        <button mat-flat-button="" (click)="profile()">Categories</button>
        <button mat-flat-button="" (click)="home()">Movies</button>
        <button mat-flat-button="" (click)="categories()">Series</button>
        <button mat-flat-button="" (click)="booking()">Events</button>
    </mat-card>

    <!-- 
        Image size = 380/430
     -->
    <div class="divForSlider">
        <slideshow [height]="height" [minHeight]="'460px'" [autoPlay]="true" [showArrows]="true" [showDots]="true"
            [imageUrls]="imagesUrl" [lazyLoad]="imagesUrl?.length > 1" [autoPlayWaitForLazyLoad]="true"
            [showDots]="true">
        </slideshow>
    </div>

    <!-- 
        Image size = 128/170
     -->
    <div class="rowFlex" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="end">
        <div class="rowFlex" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="end">
            <a (click)="movies()" class="pointer"><img src="../../../assets/intersteller-small.jpg"></a>
            <a (click)="profile()" class="pointer"><img src="../../../assets/captainAmerica---small.png"></a>
            <a (click)="profile()" class="pointer"><img src="../../../assets/captainMarvel---small.jpg"></a>
        </div>

        <div class="rowFlex" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="end">
            <a (click)="profile()" class="pointer"> <img src="../../../assets/images (3).jpg"></a>
            <a (click)="profile()" class="pointer"><img src="../../../assets/images (2).jpg"></a>
            <a (click)="profile()" class="pointer"> <img src="../../../assets/batman----1.jpg"></a>
        </div>
    </div>
    <!-- </div> -->
</mat-card>

<div class="footers">
    <div fxLayout="row" fxLayout="row" fxLayoutGap="480px" style="margin-top:-6%">
        <div>
            <h2>About</h2>
            <p>BookIt,BandraWest,Mumbai</p>
            <p>Maharashtra, 400050</p>
        </div>
        <div>
            <h2>Contacts</h2>
            <p>inquiry@bookIt.com</p>
        </div>
        <div>
            <h2>Links</h2>
        </div>

        <!--Facebook-->
        <a type="button" mdbBtn floating="true" size="lg" color="fb" class="waves-light" mdbWavesEffect>
            <mdb-icon fab icon="facebook-f"></mdb-icon>
        </a>

        <!--Google +-->
        <a type="button" mdbBtn floating="true" size="lg" color="gplus" class=" waves-light" mdbWavesEffect>
            <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>

        <!--Linkedin-->
        <a type="button" mdbBtn floating="true" size="lg" color="li" class=" waves-light" mdbWavesEffect>
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
        </a>

        <!--Instagram-->
        <a type="button" mdbBtn floating="true" size="lg" color="ins" class="  waves-light" mdbWavesEffect>
            <mdb-icon fab icon="instagram"></mdb-icon>
        </a>


        <!--Github-->
        <a type="button" mdbBtn floating="true" size="lg" color="git" class="  waves-light" mdbWavesEffect>
            <mdb-icon fab icon="github"></mdb-icon>
        </a>

    </div>
</div>