<div class="main" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="image"> <a (click)="home()" class="pointer"><img src="../../../assets/book-it.jpg"
                style="width: 75%"></a>
    </div>

    <div class="search" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <input placeholder="Do Online Booking For Any Movie..." [formControl]="movieName"
                style=" width: 229%; padding: 4%;">
        </div>
        <div class="button">
            <button mat-raised-button (click)="Search()" color="primary">Search</button>
        </div>
        <div class="login">
            <button mat-mini-fab style="background-color: darkolivegreen" [matMenuTriggerFor]="menu">
                {{firstName | slice:0:1}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="profile()">{{firstName}}</button>
                <button mat-raised-button color="primary" (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</div>

<div class="rowFlex" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="end">
    <div class="rowFlex" fxLayout="column" fxLayoutgap="10px">
        <div class="listName">Bollywood Movies (Hindi)
        </div>
        <div class="rowFlexList" fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="end">
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/war--1.jpg"></a>
            <a (click)="movies('CaptainAmerica')" class="pointer"><img
                    src="../../../assets/captainAmerica---small.png"></a>
            <a (click)="movies('Badla')" class="pointer"> <img src="../../../assets/images (3).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/Bollywood/download (2).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/Bollywood/download.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/Bollywood/images (1).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/Bollywood/images (2).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/Bollywood/images (3).jpg"></a>
        </div>
    </div>

    <div class="rowFlex" fxLayout="column" fxLayoutgap="10px">
        <div class="listName">Hollywood Movies (English)
        </div>
        <div class="rowFlexList" fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="end">
            <a (click)="movies('Captain Marvel')" class="pointer"> <img
                    src="../../../assets/captainMarvel---small.jpg"></a>
            <a (click)="movies('Batman')" class="pointer"><img src="../../../assets/batman----1.jpg"></a>
            <a (click)="movies('Interstellar')" class="pointer"><img src="../../../assets//intersteller-small.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/hollywood/download (1).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/hollywood/download (6).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/hollywood/download.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/hollywood/images (1).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/hollywood/images (3).jpg"></a>
        </div>
    </div>

    <div class="rowFlex" fxLayout="column" fxLayoutgap="10px">
        <div class="listName"> South Movies (Tamil)
        </div>
        <div class="rowFlexList" fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="end">
            <a (click)="movies('Captain Marvel')" class="pointer"> <img
                    src="../../../assets/captainMarvel---small.jpg"></a>
            <a (click)="movies('Batman')" class="pointer"><img src="../../../assets/batman----1.jpg"></a>
            <a (click)="movies('Badla')" class="pointer"> <img src="../../../assets/images (3).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/war--1.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/war--1.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/war--1.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/war--1.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/war--1.jpg"></a>
        </div>
    </div>

    <div class="rowFlex" fxLayout="column" fxLayoutgap="10px">
        <div class="listName"> South Movies (Telugu)
        </div>
        <div class="rowFlexList" fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="end">
            <a (click)="movies('Captain Marvel')" class="pointer"> <img
                    src="../../../assets/telugu movies/images.jpg"></a>
            <a (click)="movies('Batman')" class="pointer"><img src="../../../assets/telugu movies/download (1).jpg"></a>
            <a (click)="movies('Badla')" class="pointer"> <img src="../../../assets/telugu movies/download (2).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/telugu movies/download (4).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/telugu movies/download (5).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/telugu movies/download.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/telugu movies/images (2).jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/telugu movies/images (4).jpg"></a>
        </div>
    </div>

    <div class="rowFlex" fxLayout="column" fxLayoutgap="10px">
        <div class="listName"> Marathi Movies (Marathi)
        </div>
        <div class="rowFlexList" fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="end">
            <a (click)="movies('Captain Marvel')" class="pointer"> <img src="../../../assets/marathi/1.jpg"></a>
            <a (click)="movies('Batman')" class="pointer"><img src="../../../assets/marathi/2.jpg"></a>
            <a (click)="movies('Badla')" class="pointer"> <img src="../../../assets/marathi/3.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/marathi/4.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/marathi/5.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/marathi/6.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/marathi/7.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/marathi/8.jpg"></a>
        </div>
    </div>

    <div class="rowFlex" fxLayout="column" fxLayoutgap="10px">
        <div class="listName"> Punjabhi Movies (Punjabhi)
        </div>
        <div class="rowFlexList" fxLayout="row" fxLayoutGap="35px" fxLayoutAlign="end">
            <a (click)="movies('Captain Marvel')" class="pointer"> <img src="../../../assets/punjabhi/1.jpg"></a>
            <a (click)="movies('Batman')" class="pointer"><img src="../../../assets/punjabhi/2.jpg"></a>
            <a (click)="movies('Badla')" class="pointer"> <img src="../../../assets/punjabhi/3.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/punjabhi/4.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/punjabhi/5.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/punjabhi/6.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/punjabhi/7.jpg"></a>
            <a (click)="movies('War')" class="pointer"><img src="../../../assets/punjabhi/8.jpg"></a>
        </div>
    </div>
</div>

<div class="footers">
    <div fxLayout="row" fxLayout="row" fxLayoutGap="29%" style="margin-top:-4%; margin-bottom:-4%;">
        <div>
            <h2>About</h2>
            <p>BookIt,BandraWest,Mumbai</p>
            <p style="margin-top: -9%;">Maharashtra, 400050</p>
        </div>
        <div>
            <h2>Contacts</h2>
            <p>inquiry@bookIt.com</p>
        </div>
        <div>
            <h2>Links</h2>
            <share-buttons show="3" style=" margin-left: -45%; margin-bottom: 6%; "></share-buttons>
        </div>
    </div>
</div>