<!-- [ngStyle]="{background: 'url('../../../assets/Website-Design-Background.png')'}"> -->
<mat-card class="card">
    <b class="resetPass">Reset Password </b>
    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-form-field class="mat-form-field-infix" appearance="outline">
            <mat-label>password</mat-label>
            <mat-error *ngIf="password.invalid">{{passwordError()}}</mat-error>
            <input matInput placeholder="password" [formControl]="password" [type]="hide ? 'text' : 'password'">
            <mat-icon class="icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="mat-form-field-infix" appearance="outline">
            <mat-label>confrim password</mat-label>
            <mat-error *ngIf="confirmPassword.invalid">{{confirmPasswordError()}}</mat-error>
            <input matInput placeholder="confrim password" [formControl]="confirmPassword" [type]="hide ? 'text' : 'password'">
            <mat-icon class="icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="submit()">Reset your password</button>
    </div>
</mat-card>